@font-face{
    font-family: "vazir";
    src: url(../fonts/Vazir.eot);
    src: url(../fonts/Vazir.eot?#iefix) format("emedded-opentype");
    src: url(../fonts/Vazir.woff2) format("woff2");
    src: url(../fonts/Vazir.woff) format("woff");
    src: url(../fonts/Vazir.ttf) format("truetype");
}
body{
    font-family: "vazir" !important;
   
}

    body {
      margin: 0;
      padding: 0;
    }

   .navbar a:hover{
    
    color: #e8af87;
   }
  
    @media (min-width: 992px) {
      .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        padding-top: 50px;
        font-size: 20px;
        
        
      }
    }
    .navbar{
      position: fixed !important;
      top: 0% !important;
      left: 0;
      width: 100%;
      z-index: 9999 !important;
    }
    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        font-size: 20px;
        
      
        
      }
    
      .navbar {
  transition: background-color 0.5s ease;
}

.navbar.scrolled {
  background-color: #6f4e37 !important; 
  margin-top: 0% !important;
  padding-top: 0% !important;
}
  

  
    @media (max-width: 991px) {
      .navbar {
        position: relative;
        background-color: #6f4e37;
      }
      .carousel {
        margin-top: 100px; 
      }
    }
    

    .navbar .nav-link {
      color: white;
    }

    .navbar .navbar-brand {
      color: white;
      font-weight: bold;
    }

 
    

    .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
   

/* home */
  /* تنظیم متن داخل Slider */
  .carousel-caption {
    position: absolute;
    bottom: 40%;
    text-align: center;
    color: #fff;
  }


  @media (max-width: 767px) {
    .carousel-caption {
      bottom: auto;            
      top: 50%;               
      transform: translateY(-50%); 
      padding: 0 1rem;
    }
    .carousel-caption h1 {
      font-size: 1rem;
      line-height: 1;
    }
    .carousel-caption p {
      font-size: 1rem;
      display: block !important; 
    }
  }

  .carousel-caption .main-title {
  font-size: 7rem;
  font-weight: 700;
}

.carousel-caption .sub-title {
  font-size: 2rem;
  font-weight: 500;
}

/* برای موبایل */
@media (max-width: 767px) {
  .carousel-caption .main-title {
    font-size: 2rem; 
  }

  .carousel-caption .sub-title {
    font-size: 1.3rem;
  }

  .carousel-caption p {
    font-size: 1rem;
  }

}
img{
 opacity: 0.9;
}
.line{
  line-height: 50px;
  font-size: 20px;
 
}


/* about */

.lg{
    background-color: rgb(239, 220, 198);
}
.nn{
    background-color: #6f4e37;
}
.nn:hover{
    background-color:#a3673c ;
    color: white;
}
.jk{
    color: #6f4e37;
}
.bb{
    color: #6f4e37;
    border-radius: 100%;
    border: 5px solid  #6f4e37;
}
.cc{

    color: white;
    background-color: #6f4e37;
    border-radius: 100%;
    text-align: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    
}
.cc:hover{
    background-color: white;
    color: #6f4e37;
}
.ff{
background-color: #6f4e37;
}
.mm{
  background-color: rgb(245, 224, 199);
  color: #512b10;
}
.vv{
  background-color: #6f4e37;
 
}
#zon{
  background-color: #6f4e37;
}
#zon:hover{
  background-color:#a3673c ;
    color: white;
}
.vv{
  height: 250px;
}

.dad{
  color: #6f4e37;
}
.mom{
  color:rgb(244, 212, 173) ;
}

.team-item {
    position: relative;
    text-align: center;
    box-shadow: 0 0 45px rgba(154, 114, 86, 0.307);
}

.team-item .team-social {
    position: absolute;
    padding: 0;
    top: 15px;
    left: 0;
    overflow: hidden;
    
}

.team-item .team-social li {
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: -50px;
    opacity: 0;
    transition: .5s;
    color: #6f4e37;
}

.team-item:hover .team-social li {
    margin-left: 15px;
    opacity: 1;
  
  
}


.team-item .team-social li .btn {
    background: #FFFFFF;
    color: var(--primary);
    border-radius: 40px;
    transition: .5s;
}



.team-item .team-social li:nth-child(1) {
    transition-delay: .1s;
}

.team-item .team-social li:nth-child(2) {
    transition-delay: .2s;
}

.team-item .team-social li:nth-child(3) {
    transition-delay: .3s;
}

.team-item .team-social li:nth-child(4) {
    transition-delay: .4s;
}

.team-item .team-social li:nth-child(5) {
    transition-delay: .5s;
}

/* end about */

/* menue */



.col-4 {
  position: relative; 
}

.menu-price {
  position: absolute;
  top: 0px;      
  right: 8px ; 
  
  background-color: #d6a85a;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  padding: 6px 10px;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}




/* contact */
.info-box{
    background-color:rgb(245, 224, 199);
    padding: 30px;
}
.info-box i{
    font-size: 38px;
    line-height: 0%;
    color: #6f4e37;
    
}

.content-form{
    background-color: rgb(245, 224, 199);
    padding: 30px;
    height: 100%;
}
#dark{
  color: black;
}


.ww{
  color: rgb(245, 224, 199);
}
#wow{
  background-color: #6f4e37;
}
#wow:hover{
  background-color: white;
  color: #6f4e37;
}
.bron{
  color: #6f4e37;
}







/* services */
.services-box{
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    padding: 60px 30px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s;
}
.services i{
    font-size: 36px;
    padding: 30px;
    line-height: 0%;
    display: inline-block;
    border-radius: 4px;
   
    
}
#kjk{
  background-color: rgb(244, 212, 173);
}
.asma{
background-color: rgb(244, 212, 173);
padding: 6px;
border-radius: 3px;
}
.neha{
  background-color: #6f4e37;
  padding: 6px;
border-radius: 3px;
}

.read-more i{
    font-size: 20px;
    line-height: 0%;
    padding: 0;
    margin: 10px;
}
.read-more{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;

}
/* services-box three */
.dark{
    border-bottom: 3px solid  rgb(245, 224, 199);
}

.dark:hover{
    background-color:#6f4e37 ;
    color: white;
}

.services-box:hover .read-more{
    color: white;
}

/* services-box tow */

 .light{
    border-bottom: 3px solid #6f4e37;
}

.light:hover{
    background-color: rgb(245, 224, 199) ;
    color: white;
}

.services-box:hover .read-more{
    color: white;
}
.read-more {
  text-decoration: none;
  color: black;
  
}

/* services-box one */

.gray{
    border-bottom: 5px solid  rgb(245, 224, 199) ;
}

.gray:hover{
    background-color:#6f4e37 ;
    color: white;
}

.services-box:hover .read-more{
    color: white;
}
.font{
  color: #6f4e37;
}

/* end services */


 /* gallery */
 .gallery .gallery-item {
  margin-bottom:15px;
  border-radius: 5px;
}



.gallery .gallery-wrap {
  position: relative;
  overflow: hidden;

  
}

.gallery .gallery-wrap img {
  transition: all ease-in-out 0.3s;

}

.gallery .gallery-wrap:hover img {
  transform: scale(1.2);

}
.gallery img {
border-radius: 5px;

}


/* :end .gallery */

/* blog */
#mine{
  color: white;
background-color: #6f4e37;


}
#mine:hover{
      color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
    border: 3px solid #6f4e37;
    background-color: white;
   color: #512b10;

}

.photo{
  border-radius: 10px;
  border: #6f4e37 3px solid;
 
}



/* shop */


.prising .card{
    transition: all 0.3s;
   
}

.prising .card:hover{
   transform: scale(1.1);
  
}
.bob{
  

  background-color: white;
   color: #6f4e37;
}
.bob:hover{
  background-color: rgb(247, 219, 184);
  color: #FFFFFF;
    
}
#moon{
  background-color: #6f4e37;
  color: white;
}





 /* footer */

 .link i{
    font-size: 23px;
    color:  #6f4e37;
    border-radius: 100%;
   
    background-color: rgb(245, 224, 199);
    padding: 10px;

}
.link i:hover{
background-color: white;
color: #6f4e37;
}

.footer {
    color: white;
    
}
.food{
  background-color: #6f4e37;
}


.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: white;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
   
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
   
}


.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}






    


 




